html, body {
    height: 100%;
    margin: 0; 
}

.login-page {

    background: url("../../public/assets/Background.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items : center;
    justify-content: center;
}
 
.login-box {

    position: relative; 
    background: linear-gradient(to bottom, rgb(52, 186, 164), white);  
    width: 30vw;   
    height: 45vw; 
    margin: 20px;   
    display: flex;
    align-items: center;      
    justify-content: center;  
    border-radius: 10px;       
}

input[type="email"],
input[type="password"] {
    width: 20vw;  /* Adjust the width using viewport width */
    height: 0.01vw;
    padding: 1vw;  /* Optional: Adjust padding to use viewport width */
    margin: 1vw 0;  /* Optional: Adjust margin to use viewport width */
    border: 1px solid #ccc;
    border-radius: 0.5vw;  /* Adjust border-radius using viewport width */
    font-size: 1vw;  /* Adjust font-size using viewport width */
}
.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    z-index: 10;
}

/* Spinner styles */
.spinner {
    border: 4px solid rgba(0, 0, 0, 1);
    border-top: 4px solid #007BFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Error message styling */
.error-message {
    color: red;
    margin-top: 1vw;
    font-size: 1vw;
}

/* 
Horizontal Alignment: Use align-items to align items horizontally.
Vertical Alignment: Use justify-content to align the items vertically. */